
* {
    font-family: "Outfit","Arial","Helvetica",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color : #fff;
    background-color: #060417;
}

html {
    scroll-behavior: smooth;
}